<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.dahlia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dahlia">
        <activity
            android:name=".menu"
            android:exported="true" />
        <activity
            android:name=".all_dresses"
            android:exported="true" />
        <activity
            android:name=".Categories"
            android:exported="true" />
        <activity
            android:name=".side_navigation_bar"
            android:exported="true"
            android:label="@string/title_activity_side_navigation_bar"
            android:theme="@style/Theme.Dahlia.NoActionBar" />
        <activity
            android:name=".Home_activity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dress_fourteen" />

    </application>

</manifest>